In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

In [2]:
g_key="AIzaSyDJqMUpXfNHsIUrnaz43fed71tmHQRciz8"

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Palana,RU,2020-10-26 23:19:31,59.12,159.97,37.40,79,97,8.50
1,1,Rikitea,PF,2020-10-26 23:21:32,-23.12,-134.97,74.71,85,100,17.09
2,2,Vestmannaeyjar,IS,2020-10-26 23:21:32,63.44,-20.27,43.05,75,100,29.24
3,3,Fairbanks,US,2020-10-26 23:21:07,64.84,-147.72,30.00,86,90,4.18
4,4,Pimentel,PE,2020-10-26 23:20:02,-6.84,-79.93,64.31,85,97,13.80

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Long          float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [38]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [39]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [40]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Long"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Long"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Long"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Long"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Atar,MR,2020-10-26 23:20:02,20.52,-13.05,87.82,15,2,6.15
8,8,Tarakan,ID,2020-10-26 23:20:03,3.30,117.63,78.64,82,99,9.86
10,10,Poum,NC,2020-10-26 23:21:09,-20.23,164.02,76.77,73,0,10.13
21,21,Bulata,PH,2020-10-26 23:20:07,9.86,122.40,81.03,79,100,11.74
22,22,Coyaima,CO,2020-10-26 23:20:08,3.80,-75.19,80.64,67,12,2.24
23,23,Hilo,US,2020-10-26 23:20:06,19.73,-155.09,79.00,83,90,5.82
25,25,Bara,NG,2020-10-26 23:15:21,10.37,10.73,77.02,34,17,3.40
34,34,Ambon,ID,2020-10-26 23:21:04,-3.70,128.18,78.80,88,40,4.70
39,39,Gorontalo,ID,2020-10-26 23:21:42,0.54,123.06,79.83,75,100,1.77
45,45,Mackay,AU,2020-10-26 23:21:43,-21.15,149.20,78.01,94,75,4.70

In [23]:
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Long          162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Long"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp    Lat    Long Hotel Name
5        Atar      MR     87.82  20.52  -13.05
8     Tarakan      ID     78.64   3.30  117.63
10       Poum      NC     76.77 -20.23  164.02
21     Bulata      PH     81.03   9.86  122.40
22    Coyaima      CO     80.64   3.80  -75.19
23       Hilo      US     79.00  19.73 -155.09
25       Bara      NG     77.02  10.37   10.73
34      Ambon      ID     78.80  -3.70  128.18
39  Gorontalo      ID     79.83   0.54  123.06
45     Mackay      AU     78.01 -21.15  149.20

In [25]:
# Set parameters to search for a hotel.
params = {"radius": 5000,
    "type": "lodging",
    "key": g_key}

In [37]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Long"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [43]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Long,Hotel Name
5,Atar,MR,87.82,20.52,-13.05,Oumou Elghoura
8,Tarakan,ID,78.64,3.30,117.63,RedDoorz Syariah near Taman Berlabuh Tarakan
10,Poum,NC,76.77,-20.23,164.02,Gîte kajeon
21,Bulata,PH,81.03,9.86,122.40,Punta Bulata Resort & Spa
22,Coyaima,CO,80.64,3.80,-75.19,Hotel Dinamarca
23,Hilo,US,79.00,19.73,-155.09,Hilo Hawaiian Hotel
25,Bara,NG,77.02,10.37,10.73,
34,Ambon,ID,78.80,-3.70,128.18,Swiss-Belhotel Ambon
39,Gorontalo,ID,79.83,0.54,123.06,Maqna Hotel by Prasanthi
45,Mackay,AU,78.01,-21.15,149.20,International Lodge Motel

In [55]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [58]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Long"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))